body {
  font-family: "Arial", sans-serif;
}

th {
  background-color: rgb(247, 189, 198);
  font-size: 1.2rem;
}

table, td {
  border-left: 1px dotted lightpink;
  border-right: 1px dotted lightpink;
  border-bottom: 1px dotted lightpink;
  text-align: left;
}

.icon-arrow-up, .icon-arrow-down {
  color: #716e6e;
  cursor: pointer;
}